@import "tailwindcss";
@import "./styles/components.css";
@import "./styles/layout.css";

@theme {
  --font-sans: "Quicksand", sans-serif;

  --color-brand: #ff929b;
  --color-brand-dark: #f35a67;
  --color-brand-light: #ff929b;
  --color-brand-background: #fff1f3;

  --color-accent: #f97316;
  --color-accent-dark: #ea580c;
  --color-accent-light: #fb923c;
}

@layer components {
  .rating {
    @apply flex items-center gap-1;
  }

  .star {
    @apply text-yellow-400
  }

  .star-empty {
    @apply text-yellow-400
  }


}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--color-brand-background);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray-400 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}

::-webkit-scrollbar-track {
  background: transparent;
}
